.pet-section {
    position: relative;
    text-align: center;
    top: -80px;
  }
  
  .pet-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
  }
  
  .pet-buttons button {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .pet-container {
    display: flex;
    align-items: center; /* จัดตำแหน่งในแนวตั้ง */
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    height: 100%; /* ให้คอนเทนเนอร์สูงเต็มพื้นที่ */
  }
  
  .button-dog {
    position: relative;
    top: -1640px; /* ปรับขนาดตามต้องการเพื่อเลื่อนขึ้น */
    right: -80px;
  }

  .button-cat {
    position: relative;
    top: -1640px; /* ปรับขนาดตามต้องการเพื่อเลื่อนขึ้น */
    right: 0px;
  }

  .button-rabbit {
    position: relative;
    top: -1640px; /* ปรับขนาดตามต้องการเพื่อเลื่อนขึ้น */
    right: 25px;
  }

  .button-fish {
    position: relative;
    top: -1640px; /* ปรับขนาดตามต้องการเพื่อเลื่อนขึ้น */
    right: 90px;
  }

  .seller {
    position: relative;
    top: -600px;
  }

  .framedress {
    position: relative;
    top: -1320px;
  }

  .navysuit {
    position: relative;
    top: -2050px;
  }

  .bowsuit {
    position: relative;
    top: -2780px;
    right: -250px;
  }