
.button-cloth {
  position: absolute;
  top: 38%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  background-color: #c35650; /* The color of the button */
  border-radius: 20px; /* Rounds the corners */
  border: 1px solid #000000; /* Adds a black border */
  padding: 5px 15px; /* Adds padding for height and width */
  text-align: center; /* Centers the text */
  color: white; /* Makes the text white */
  font-size: 18px; /* Sets the font size */
  cursor: pointer; /* Changes the cursor to a pointer when hovered */
  text-decoration: none; /* Removes any text decoration (e.g., underline) */
}

.button-shop {
  position: absolute;
  top: 38%;
  left: 74.2%;
  transform: translate(-50%, -50%);
  background-color: #c35650;
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 5px 15px;
  text-align: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
.fram {
  position: absolute;
  top: 38%;
  left: 74.2%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 15%;
  /* background-color: #ffffff; */
}

.button-pet {
  position: absolute;
  top: 74.6%;
  left: 19%;
  transform: translate(-50%, -50%);
  background-color: #c35650;
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 7px 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.edit-displayName {
  position: absolute;
  top: 40%;
  left: 22%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px; /* Adjust the size of the icon */
  color: #c35650; /* Adjust the color of the icon */
}

.displayName-edit {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-30%, -50%);
  text-align: left;
  font-size: 30px; 
  color: #000000;
  padding: 0px;
  margin: 5px;
}

.button-play {
  position: absolute;
  top: 85%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 90px; 
  color: #c35650; 
  border-radius: 100%;
  border: 1px solid #000000;
}

.custom-frame-class {
  width: 100%; /* หรือขนาดตามที่ต้องการ */
  max-width: 400px;
  margin: 0 auto;
}

.custom-frame-class2 {
  width: 100%; /* หรือขนาดตามที่ต้องการ */
  max-width: 400px;
  margin: 0 auto;
}

.custom-dress-class {
  width: 100%; /* หรือขนาดตามที่ต้องการ */
  max-width: 400px;
  margin: 0 auto;
}

.custom-shop-class {
  width: 100%; /* หรือขนาดตามที่ต้องการ */
  max-width: 400px;
  margin: 0 auto;
}
