.btn-selectpet {
  width: 100px;
  border: 1px solid #000000;
  border-radius: 15px; /* Rounds the corners */
}

.btn-current {
  color: #ffffff;
  background-color: #c35650;
}

.btn-default {
  color: black;
  background-color: #ffffff;
}

.btn-current:hover,.btn-default:hover {
  border: 2px solid #c35650;
  color: #c35650;
}